<h1>Your Bill</h1>
<p>generated on: <%= @bill.generated_on_date %></p>
<p>due on: <%= @bill.due_on_date %></p>
<p>from: <%= @bill.from_date %></p>
<p>to: <%= @bill.to_date %></p>
<p>Total: <%= two_decimals(@bill.grand_total) %></p>

<h2>Subscriptions</h2>
<% @bill.subscriptions.each do |subscription| %>
  <p><%= subscription["name"] %>: <%= two_decimals(subscription["cost"]) %></p>
<% end %>
<p>Total: <%= two_decimals(@bill.subscriptions_total) %></p>

<h2>Call Charges</h2>
<ul>
  <% @bill.call_charges.each do |call| %>
    <li>Called: <%= call["called"] %> Duration: <%= call["duration"] %> Cost: <%= two_decimals(call["cost"]) %></li>
  <% end %>
</ul>
<p>Total: <%= two_decimals(@bill.call_charges_total) %></p>

<h2>Sky Store</h2>
<h3>Rentals:</h3>
<ul>
  <% @bill.sky_store_rentals.each do |rental| %>
    <li>Title: <%= rental["title"] %> Cost: <%= rental["cost"] %></li>
  <% end %>
</ul>

<h3>Buy & Keep:</h3>
<ul>
  <% @bill.sky_store_buy_and_keep.each do |purchase| %>
    <li>Title: <%= purchase["title"] %> Cost: <%= purchase["cost"] %></li>
  <% end %>
</ul>

<p>Total: <%= two_decimals(@bill.sky_store_total) %></p>