<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sky Bill</title>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-overrides.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/showHideCalls.js"></script>
  </head>

  <body class='container'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="images/sky-logo.png">
          </a>
        </div>
        <p class='pull-right'>Date: <%=@bill.generated_on_date %></p>
      </div>
    </nav>

    <div class='jumbotron'>
      <div class='row'>
        <div class='col-xs-6'>
          <h4>Total amount due</h4>
          <p>due on: <%= @bill.due_on_date %></p>
        </div>
        <div class='col-xs-6'>
          <h1 class='pull-right'>£<%= two_decimals(@bill.grand_total) %></h1>
        </div>
      </div>
    </div>
    <hr>
    <section class='subscriptions'>
      <h3 id='subscriptions-header'>Subscriptions</h3>
      <table class='table'>
        <tr>
          <th class='small'>Package</th>
          <th class='small'>Billing Period</th>
          <th class='small'>Cost</th>
        <tr>
        <% @bill.subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription["name"] %></td>
            <td class='billing-period'>
              <%= @bill.from_date %> - 
              <p><%= @bill.to_date %></p>
            </td>
            <td><%= two_decimals(subscription["cost"]) %></td>
          <tr>
        <% end %>
        <tr id='subscriptions-total'>
          <td>
            <h4>Subscriptions total:</h4>
          </td>
          <td></td>
          <td>
            <h4><%= two_decimals(@bill.subscriptions_total) %></h4>
          </td>
        <tr>
      </table>
    </section>
    <hr>
    <section class='calls'>
      <h3 id='calls-header'>
        Calls
        <a href="#" class="show_hide pull-right">+ see breakdown</a>
      </h3>
      <table class='table slidingDiv'>
        <tr>
          <th class='small'>Number</th>
          <th class='small'>Duration</th>
          <th class='small'>Cost</th>
        <tr>
        <% @bill.call_charges.each do |call| %>
          <tr>
            <td>Called <%= call["called"] %></td>
            <td><%= call["duration"] %></td>
            <td><%= two_decimals(call["cost"]) %></td>
          <tr>
        <% end %>
      </table>
      <table class='table'>
        <tr id='calls-total'>
          <td>
            <h4>Calls total:</h4>
          </td>
          <td></td>
          <td>
            <h4><%= two_decimals(@bill.call_charges_total) %></h4>
          </td>
        <tr>
      </table>
    </section>

    <hr>

    <section class='sky-store-rentals'>
      <h3 id='sky-store-rentals-header'>Sky Store Rentals</h3>
      <table class='table'>
        <tr>
          <th class='small'>Title</th>
          <th class='small'>Billing Period</th>
          <th class='small'>Cost</th>
        <tr>
        <% @bill.sky_store_rentals.each do |rental| %>
          <tr>
            <td><%= rental["title"] %></td>
            <td class='billing-period'>
              <%= @bill.from_date %> - 
              <p><%= @bill.to_date %></p>
            </td>
            <td><%= two_decimals(rental["cost"]) %></td>
          <tr>
        <% end %>
      </table>
    </section>

    <section class='sky-store-buy-and-keep'>
      <h3 id='sky-store-buy-and-keep-header'>Sky Store Buy & Keep</h3>
      <table class='table'>
        <tr>
          <th class='small'>Title</th>
          <th class='small'>Billing Period</th>
          <th class='small'>Cost</th>
        <tr>
        <% @bill.sky_store_buy_and_keep.each do |purchase| %>
          <tr>
            <td><%= purchase["title"] %></td>
            <td class='billing-period'>
              <%= @bill.from_date %> - 
              <p><%= @bill.to_date %></p>
            </td>
            <td><%= two_decimals(purchase["cost"]) %></td>
          <tr>
        <% end %>
        <tr id='sky-store-total'>
          <td>
            <h4>Sky Store total:</h4>
          </td>
          <td></td>
          <td>
            <h4><%= two_decimals(@bill.sky_store_total) %></h4>
          </td>
        <tr>
      </table>
    </section>
  </body>
</html>