<h1>Your Bill</h1>
<p>generated on: <%= @bill.generated_on_date %></p>
<p>due on: <%= @bill.due_on_date %></p>
<p>from: <%= @bill.from_date %></p>
<p>to: <%= @bill.to_date %></p>
<p>Total: <%= @bill.grand_total %></p>

<h2>Subscriptions</h2>
<% @bill.subscriptions.each do |subscription| %>
  <p><%= subscription["name"] %>: <%= subscription["cost"] %></p>
<% end %>