<h1>Your Bill</h1>
<p>generated on: <%= @bill_data.generated_on_date %></p>
<p>due on: <%= @bill_data.due_on_date %></p>
<p>from: <%= @bill_data.from_date %></p>
<p>to: <%= @bill_data.to_date %></p>
<p>Total: <%= @bill_data.grand_total %></p>